html {
	height: 100%;
}
body {
	color: #999;
	margin: 0 auto;
	display: table;
	max-width: 90%;
	min-width: 35em;
	height: 100%;
}

@media (max-width: 600px) {
	body {
		width: 90%;
		min-width: 0;
	}
}

#now {
	font-size: 1em;
	padding: 0.6em 0;
}
#now > div {
	display: inline;
}

#timer {
	color: #000;
	font-family: arial, sans-serif;
	padding: 0.6em 0;
}
#timer > .timer, #timer > .error{
	font-size: 3em;
	margin-right: 0.2em;
}
#timer > div {
	display: inline;
}

.error > div {
	display: inline;
}

#remarks {
	text-align: right;
	font-size: 1em;
	padding: 1em 0 1em;
}
#remarks > div {
	display: block;
}
#remarks > div > div {
	display: inline;
}

#footer > p{
	font-weight: bold;
}

.subarea {
	opacity: 0.3;
}
body:hover > .subarea {
	opacity: 1;
}

.timer, .hash {
	font-weight: bold;
}
.datetime {
	font-style: italic;
}

.alarm {
	background-color: #000;
}
.alarm > #timer {
	color: #999;
}
.alarm > .subarea {
	opacity: 1;
}
.alarm .toggle-content {
	display: block;
}